<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="javascript:void(0)">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>
                <a href="javascript:void(0)" routerLink="dashboard">tlak</a> All Rights Reserved.
            </div>
        </div>
    </div>
    <!-- <ul class="sticky-toolbar-right">
        <li class="sticky-toolbar-right-item sticky-toolbar-right-item-success" data-toggle="kt-tooltip" data-placement="right">
            <a href="javascript:void(0)" class="feadbacks" data-toggle="modal" data-target="#sticky-toolbar-right"><i class="ri-notification-3-line"></i></a>
        </li>
    </ul> -->
</footer>
<!-- <div class="modal fade" id="sticky-toolbar-right" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="dashNotiInstant">
                    <input type="hidden" name="_token" value="6jDUqaMxoe5aQx8A1NXTis2HPEmqx3UXGsARMsfE">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="EE" for="ins_notification_text">Notification Text<sup style="color:red">*</sup></label>
                                <textarea class="form-control" name="ins_notification_text" id="ins_notification_text" rows="3" placeholder="Please type your notification text here..." required="required"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="EE">Current Departure<sup style="color:red">*</sup></label>
                            <div class="form-group">
                                <select name="departuren" id="departuren" class="form-control location" value=""></select>
                            </div>
                        </div>
                        <div class="col-sm-6 iimg">
                            <div class="header-upload mt-4" style="width: 100%; margin-top: 0 !important">
                                <input type="file" name="image" id="file_img" onchange="readURL(this);" class="custom-file-input btn-file-upload" accept="image/jpeg, image/jpg, image/png, image/gif">
                                <div class="upload text-center btn btn-info">Choose Image</div>
                            </div>
                        </div>
                        <div class="col-sm-3 p-0 iimg">
                            <img id="blah" onclick="triggerImage()" src="assets/images/no-image-tut.png" class="" height="45">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right" style="margin-top: 30px;">
                            <button type="button" class="btn btn-outline-secondary" id="All" value="Travelers"><i class="fas fa-paper-plane"></i> ALL</button>
                            <button type="button" class="btn btn-primary" id="manager_send" value="Manager"><i class="fas fa-paper-plane"></i> Only Tour Managers</button>
                            <img src="assets/images/loader.gif" id="gifn" style="width: 8%; display: none;">
                        </div>
                        <div class="col-md-12 text-right">
                            <span id="meseges"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
