textarea.form-control{line-height: 1.2;}

.auto-dest{
    padding: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      cursor: pointer;
  }
  #myInputautocomplete-list2{
    position: absolute;
    top: 100%;
    z-index: 9;
    background-color: #fff;
    width: 100%;
    height: 227px;
    overflow-x: auto;
  }