#accordion .card-header{
  background-color: rgb(236 233 165);
}
#accordion .card-header .btn{
  padding: 0;
  font-size:20px;
  color: #71381b;
  font-weight: 600;
  line-height: 1.2;
}
#accordion .card-header .btn:hover, #accordion .card-header .btn:focus{
  text-decoration:none;
}
.userRole:not(.collapsed) i:after {
  content: "\f106";
  -webkit-transition: all 150ms ease-in 0s;
  -moz-transition: all 150ms ease-in 0s;
  -o-transition: all 150ms ease-in 0s;
  -ms-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
}
.userRole.collapsed i:after {
  content: "\f106";
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.userRole i:after {
  position: absolute;
  right: 1%;
  margin-top: -8px;
  -webkit-transition: all 150ms ease-in 0s;
  -moz-transition: all 150ms ease-in 0s;
  -o-transition: all 150ms ease-in 0s;
  -ms-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
}
