<div id="loading" *ngIf="isLoading">
  <div id="loading-center">
  </div>
</div>
<article id="content-page" class="content-page">
  <div class="pagebreadcrumbs" id="pagebreadcrumbs">
    <div class="container-fluid">
      <div class="subheader-main">
        <h3 class="subheader-title">Payment Details </h3>
        <div class="subheader-breadcrumbs">
          <a href="javascript:void(0);" class="subheader-breadcrumbs-home subheader-breadcrumbs-separator"><i class="ri-home-7-line"></i></a>
          <!--<span class="subheader-breadcrumbs-separator"></span>-->
          <a href="javascript:void(0);" class="subheader-breadcrumbs-link subheader-breadcrumbs-separator">Payment Details </a>
          <!--<span class="subheader-breadcrumbs-separator"></span>-->
          <!-- <a href="javascript:void(0);" class="subheader-breadcrumbs-link subheader-breadcrumbs-separator"> Departure List</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Transaction History</h4>
            </div>
          </div>
          <div class="iq-card-body departure-table">
            <div class="table-responsive">
              <table class="table table-hover" id="example2">
                <thead>
                <tr>
                  <th>S No</th>
                  <th>Tracking Id</th>
                  <th>Status</th>
                  <th>Payment Mode</th>
                  <th>Currency</th>
                  <th>Amount</th>
                  <th>Region</th>
                  <th>Invoice Id</th>
                  <th>Invoice</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of paymentDetails;let i=index;">
                  <td>{{i + 1}}</td>
                  <td title="Test Departure" class="table-td-ellipsis">{{item.tracking_id}}</td>
                  <td>{{item.status_message}}</td>
                  <td>{{ item.payment_mode== 'null'?'Cancelled':item.payment_mode }}</td>
                  <td>{{item.currency}}</td>
                  <td>{{item.amount}}</td>
                  <td>{{item.delivery_city}}</td>
                  <td>{{item.invoice_id}}</td>
                  <!-- <td (click)="downloadSample(item.id)" *ngIf="item.invoice_id" ><a class="dropdown-item copy-departure" translate>
                    <i class="las la-file-download"></i> Invoice - {{item.invoice_id}}
                  </a>
                  </td> -->
                  <td *ngIf="item.invoice_id"><a class="" href="https://account.tlakapp.com/tlak/api/v7/print-pdf/{{item.id}}" target="_blank">
                    <i class="fas fa-file-download"></i>
                  </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
