article#content-page{
  display: flex;
  align-items: center;
}
article#content-page div.col-md-9.m-auto{
  background:#fff;border-radius: 20px;
}
.bottomLine {
  text-decoration: none;
  position: relative;
}
.bottomLine:after {
  position: absolute;
  content: '';
  height: 3px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 20%;
  background: #89542b;
  transition: .5s;
}
.bottomLine:hover:after {
  width: 80%;
  background: orange;
}
.bottomLine::before{
  content: "";
  position: relative;
  border-bottom: 2px solid;
  border-color: #fff;
}

