<article id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 m-auto ">
        <div class="row p-5 align-items-center">
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-center">
              <img src="assets/images/changepassword.png" alt="ChangePassword" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-8 m-auto">
                <Form [formGroup]="resetPassWord" (ngSubmit)="updatePass()">
                  <h2 class="bottomLine" translate> change-password.Change Password</h2>
                  <div class="form-group">
                    <label for="oldpass" translate> change-password.Old Password</label>
                    <input type="password" name="oldpass" class="form-control" id="oldpass" formControlName="current_pwd">
                    <div *ngIf="isSubmitted&&form.current_pwd.errors" class="text-danger">
                      <p class="mb-0" *ngIf="form.current_pwd.errors.required" translate>
                        change-password.Please enter your password.</p>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="newpass" translate> change-password.New Password</label>
                    <input type="password" name="newpass" class="form-control" id="password" formControlName="password">
                    <div *ngIf="isSubmitted&&form.password.errors" class="text-danger">
                      <p class="mb-0" *ngIf="form.password.errors.required" translate>
                        change-password.Please enter password.</p>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="currentpass" translate> change-password.Confirm New Password</label>
                    <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" formControlName="password_confirmation">
                    <div *ngIf="isSubmitted&&form.password_confirmation.errors" class="text-danger">
                      <p class="mb-0" *ngIf="form.password_confirmation.errors.required" translate>
                        change-password.password is not matching.</p>
                      <div *ngIf="form.password_confirmation.errors.confirmedValidator" translate>
                        change-password.Password and Confirm Password must be match.</div>
                      </div>
                  </div>
                  <div class="form-group text-right">
                    <button type="submit" class="btn btn-theme" translate> change-password.Submit</button>
                  </div>
                </Form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
